body{
    background-color: rgb(243, 240, 212)
}

.jumbotron{
    background-color: rgb(144, 66, 27);
    text-align: center;
    color: white;
    
}

.card-header{
    background-color: rgb(83, 144, 224);
    color: white;
    text-align: left;
    font-weight: bold;
    
}
.card{
    border: 5px solid rgb(83, 144, 224);
    
}


.card-body{
height: 425px;



}

.tableBody{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.trainTable{
    color:rgba(37, 74, 122, 0.616);

}